name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-contracts:
    name: Test Smart Contracts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
          
          
      - name: Install Dependencies
        run: npm ci
        
      - name: Compile Contracts
        run: npx hardhat compile

      - name: Run Tests
        shell: bash
        run: npm test | tee test_log.txt
        
      - name: Send Email on Success
        if: success()
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: Hardhat Tests Passed (${{ github.repository }})
          body: file://test_log.txt
          to: groklord2@gmail.com
          from: GitHub Actions

      - name: Send Email on Failure
        if: failure()
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: Hardhat Tests Failed (${{ github.repository }})
          body: file://test_log.txt
          to: groklord2@gmail.com
          from: GitHub Actions


  build-frontend:
    name: Build Frontend
    runs-on: ubuntu-latest
    needs: test-contracts
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          
      - name: Install Dependencies
        run: cd frontend && npm ci
        
      - name: Lint Frontend
        run: cd frontend && npm run lint

      - name: Restore Next.js cache
        uses: actions/cache@v4
        with:
          path: |
            frontend/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('frontend/package-lock.json') }}-${{ hashFiles('frontend/**.[jt]s', 'frontend/**.[jt]sx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('frontend/package-lock.json') }}-

      - name: Build App
        run: cd frontend && npm run build

